.locationList{

    height: 90vh;
    overflow: auto;
}

@media (max-width: 64em){

    .locationList{

        max-height: 40vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title{

    color: white;
    text-align: center;
    padding: 15px 0px;
}